body{ 
    margin :0;
    padding : 100px;
    line-height: 1.5;
        
}
.resume-container{
    display: flex;
    background-color: rgba(128, 128, 128, 0.32);
    width: 80.5%;
    margin: 0 margin;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.062);
    gap:20px;
    
}
.left-section{
    background-color: rgba(6, 98, 129, 0.989);
    color: wheat;
    padding : 20px;
    width : 30%;
    text-align: center;
    position: relative;
    
}

button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;

}
button:hover{
    background-color:lightblue;

}